
@model ForgotPasswordForm;

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Olvidaste tu contraseña";
}

<!--
    HEADER 
 -->
<div class='py-10'>
    <h1 class="text-4xl my-10 font-extrabold text-center">
        Realty <span class="font-normal">Hub</span> 
    </h1>
    <h2 class="text-center text-2xl font-extrabold">@ViewData["Title"]</h2>
</div>

<!--
    FORM 
 -->
 <div class="mt-8 mx-auto max-w-md">
    <div class="bg-white py-8 px-4 shadow">
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post" class="space-y-5">

            <div asp-validation-summary="ModelOnly" class="bg-red-100 text-red-700 p-3 rounded mb-4"></div>

            @* CSRF -> This is a security feature to prevent CSRF attacks *@
            @Html.AntiForgeryToken()

            <div>
                <label asp-for="@Model.Email" class="block text-sm uppercase text-gray-600 mb-2 font-bold"></label>
                <input type="email" asp-for="@Model.Email" placeholder="Ingresa tu correo electronico" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" />
                <span asp-validation-for="@Model.Email" class="text-red-500 text-xs"></span>
            </div>

            <input type="submit" value="Enviar Instrucciones" class="w-full bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded-md cursor-pointer" />

            <div class="flex items-center justify-between">
                <a href="/auth/signup" class="text-gray-500 text-xs hover:text-gray-700 ">¿No tienes cuenta? Registrate</a>
                <a href="/auth/signin" class="text-gray-500 text-xs hover:text-gray-700">¿Ya tienes cuenta? Inicia sesión</a>
            </div>
        </form>
    </div>
 </div>

<partial name="_ValidationScriptsPartial" />