@* @using RealtyHub.Models.Forms; *@

@model SignUpForm;

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Crear cuenta";
}

<!--
    HEADER 
 -->
<div class='py-10'>
    <h1 class="text-4xl my-10 font-extrabold text-center">
        Realty <span class="font-normal">Hub</span> 
    </h1>
    <h2 class="text-center text-2xl font-extrabold">@ViewData["Title"]</h2>
</div>

<!--
    FORM 
 -->
 <div class="mt-8 mx-auto max-w-md">
    <div class="bg-white py-8 px-4 shadow">
        <form asp-controller="Auth" asp-action="SignUp" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="space-y-5">

            <div asp-validation-summary="ModelOnly" class="bg-red-100 text-red-700 p-3 rounded mb-4"></div>

            @* CSRF -> This is a security feature to prevent CSRF attacks *@
            @Html.AntiForgeryToken()

            <div>
                <label asp-for="@Model.Name" class="block text-sm uppercase text-gray-600 mb-2 font-bold"></label>
                <input asp-for="@Model.Name" placeholder="Ingresa tu nombre" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" />
                <span class="text-red-400 font-normal text-sm" asp-validation-for="@Model.Name"></span>
            </div>
            <div>
                <label asp-for="@Model.Email" class="block text-sm uppercase text-gray-600 mb-2 font-bold"></label>
                <input type="email" asp-for="@Model.Email" placeholder="Ingresa tu email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" />
                <span class="text-red-400 font-normal text-sm" asp-validation-for="@Model.Email"></span>
            </div>
            <div>
                <label asp-for="@Model.Password" class="block text-sm uppercase text-gray-600 mb-2 font-bold"></label> @* Contraseña *@
                <input type="password" asp-for="@Model.Password" placeholder="Ingresa tu contraseña" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" />
                <span class="text-red-400 font-normal text-sm" asp-validation-for="@Model.Password"></span>
            </div>
            <div>
                <label asp-for="@Model.ConfirmPassword" class="block text-sm uppercase text-gray-600 mb-2 font-bold"></label>
                <input type="password" asp-for="@Model.ConfirmPassword" placeholder="Confirma tu contraseña" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" />
                <span class="text-red-400 font-normal text-sm" asp-validation-for="@Model.ConfirmPassword"></span>  
            </div>

            <input type="submit" value="Crear Cuenta" class="w-full bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded-md cursor-pointer" />

            <div class="flex items-center justify-between">
                <a href="/auth/signin" class="text-gray-500 text-xs hover:text-gray-700 ">¿Ya tienes cuenta? Inicia sesión</a>
                <a href="/auth/forgot-password" class="text-gray-500 text-xs hover:text-gray-700">¿Olvidaste tu contraseña?</a>
            </div>
        </form>

        <div class="flex mb-3 mt-5 items-center justify-center gap-3">
            <span class="border-b border-gray-300 w-full"></span>
            <span class="text-gray-500 text-xs mx-2">O</span>
            <span class="border-b border-gray-300 w-full"></span>
        </div>

        <div class="flex items-center justify-between gap-3">
            <a href="/auth/google" class="p-2 rounded-sm text-center hover:bg-gray-100">
                Iniciar con Google <i class="bi bi-google"></i> 
            </a>
            <a href="/auth/microsoft" class="p-2 rounded-sm text-center hover:bg-gray-100">
                Iniciar con Microsoft <i class="bi bi-windows"></i>
            </a>
        </div>
        
    </div>

    <partial name="_ValidationScriptsPartial" />

 </div>
